@media screen and (max-width: 759px){
  body{
  
  }
  header{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;

  }
  article{
    display:flex;
    background-size: 100%;
    width: 100%;
  }
  
  }
  #title{
    display: flex;
    align-items: center;
    font-size: larger; 
    margin-right: 50%; 
  }
  li{
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 20px;
  }
  #texto0{
   
    margin: 0 auto;
    width: 100%;
}
#Sobre-mim{
  margin: 0 auto;
  width: 100%;
  }




