html{
    scroll-behavior: smooth;
    background-image: url(https://github.com/cinhocalandrini/portifolio/blob/main/imagens/paodeacucar3.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
body{
    font-family: "alkatra";
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 50px;  
    
}

#title{
    margin: 0 auto;
    white-space: nowrap;
}
#menu{
    white-space: nowrap;
}
li{
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 20px;
}
li :hover{
    border: 1px solid #186918;
    cursor: pointer;
    background-color: #186918;
    border-radius: 5px;
    color: white;
}
.icons0{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icons0 :hover{
    border: 1px solid #186918;
    border-radius: 5px;
    color: #186918;
}
.animation0{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:-webkit-linear-gradient(rgb(7, 170, 7),yellow,red);
    width: 100%;
    height: 25px;
}
#img0{
    border-radius: 50%;
    border: 1px solid #f9fafa;
}
#Sobre-mim{
   color: white;
   opacity: 0.8;
}
#texto0{
    color: white;
    opacity: 0.9;
}
.img1{
    margin-top: 50px;
    border-radius: 5%;
    width: 10%;
    height: 10%;
    align-items: end;
}
.animation1{
    background:-webkit-linear-gradient(rgb(7, 170, 7),yellow,red);
    width: 20%; 
}
article{
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background: url(../imagens/montanha.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #333131;
    }      
.Projetos{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    border-top: 2px solid #186918;
    }
#Contato{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align:center;
    }
